
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Imperial+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar+One&display=swap');

/* Header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f43d;
    font-family: "Poppins", serif !important;
  }
  
  /* Left section: Logo and title */
  .header-left {
    display: flex;
    align-items: center;
    font-family: "Sigmar One", sans-serif !important;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .nav-button {
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    font-family: "Poppins", serif !important;
    font-weight: 400 !important;
  }

  #consult-btn{
    background-color: #59a4cc;
  }
  
  /* Right section: Social media icons */
  .header-right {
    display: flex;
    justify-content: end;
    gap: 30px;
  }

  .header-right-buttons{
    display: flex;
    gap: 30px;
  }
  
  .social-icon {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  