
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Doto:wght@100..900&family=Imperial+Script&family=Londrina+Outline&family=Moon+Dance&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.head-title{
    font-family: "Sigmar One", sans-serif !important;
    font-size: 32px !important;
  font-weight: 400;
  font-style: normal;
    color: #a6a6a6;
    font-weight: 400 !important;
}

.head-title-medium{
  font-family: "Playfair Display", serif !important;
  font-weight: 400 !important;
  color: rgb(228, 219, 151);
  text-align: left;
}

.head-title-small{
    font-family: "Poppins", serif !important;
    font-weight: 400 !important;
    color: rgb(223, 214, 214);
    border-left: 3px solid #ba9851;
    padding-left: 20px;
    text-align: left;
}

.consultant-btn{
    margin-top: 3vw !important;
    width: 60%;
    background-color: #59a4cc !important;
}

.main-body{
    display: flex;
    align-items: start !important;
    justify-content: start !important;
    
}

/* Description text and button */
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .head-title {
    font-weight: 700;
  }
  
  button {
    margin-top: 15px;
  }
  
  /* Card image styles */
  .MuiCardMedia-root {
    object-fit: cover;
  }
  
  /* Additional styling for responsiveness */
  @media (max-width: 600px) {
    .description {
      text-align: center;
    }
  }
  